<!DOCTYPE html>
<html>
<head>
    <title>Library Management System</title>

    <style>
        body{
            font-family: Arial;
            background: #f4f4f4;
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
        }

        .box{
            background:white;
            padding:40px;
            border-radius:10px;
            text-align:center;
            box-shadow:0 0 10px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>

<div class="box">
    <h1>Library Management System</h1>
    <p>First test successful 🚀</p>
</div>

</body>
</html>